<div class="container-fluid">
    <div class="card">
        <div class="pull-right">
            <button class="btn btn-success">
               <span class="h5"><fa-icon style="color: white;font-size:15px;margin-right: 5px;"[icon]="faPlus"></fa-icon>Adicionar</span>
            </button>        
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>
        </div>
    </div>
    

</div>
